<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estoque - BackOffice</title>
        <link rel="stylesheet" type="text/css" href="estoque_geral.css">
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    <body>
        <div id="menuPrincipal" class="menuPrincipal">
            <div class="menuItens">
                <a href="/clientes" target="fprincipal" class="btn_menuItem">Clientes</a>
                <a href="/fornecedores" target="fprincipal" class="btn_menuItem">Fornecedores</a>
                <a href="/produtos" target="fprincipal" class="btn_menuItem">Produtos</a>
                <a href="/" class="btn_menuItem" id="btnlogoff">Log out</a>
            </div>      
        </div>

        <div id="topo" class="topo">
            <div></div>
            <div id="logo" class="logo">Controle de Estoque</div>
            <div id="config" class="config">
                
                <div>
                    
                </div>
            </div>
        </div>

        <div id="principal" class="principal">
            <iframe name="fprincipal" class="fprincipal"></iframe>
        </div>
    </body>
</html>